@import "./mixins/fonts";
@import "./mixins/normalize";
@import "./mixins/mixins";

// Variables start

$main-font:  'Quicksand', sans-serif;
$primary-font:  'Inter', sans-serif;
$main-color: #050448;
$border-color:  #EBEBEB;
$grey-color: #515151;
$black-color: #000;

// Variables end

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	position: relative;
	min-height: 100vh;
}

/* N A V B A R - S T A R T */

.navbar{
	position: relative;
	box-shadow: 0 2px 3px 0 #0000000f;

	&__row{
		@include d-flex(center, space-between, row, no-wrap);
	}

	&__left{
		height: 90px;
		@include d-flex(center, flex-start, row, no-wrap);
	}

	&__logo{
		width: 70px;
		height: 50px;
		@include adaptive-value('margin-right', 40, 20, 1);

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__catalog{
		background: $main-color;
		border: 1px solid transparent;
		border-radius: 6px;
		padding: 10px 25px 10px 15px;
		@include d-flex(center, flex-start, row, no-wrap);
		cursor: pointer;


		&-icon{
			margin-right: 20px;
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 20, 16, 1);
			line-height: 130%;
			color: #FFFFFF;
		}
	}

	&__main{
		flex: 1 1 100%;
		height: 90px;
		@include d-flex(center, flex-start, row, no-wrap);
		padding: 20px 30px;
		margin: 0 30px;
		border-right: 1px solid rgba(206, 206, 206, 0.15);
		border-left: 1px solid rgba(206, 206, 206, 0.15);
	}

	&__input{
		flex: 1 1 90%;
		height: 100%;

		input{
			width: 100%;
			height: 100%;
			outline: none;
			padding: 0 5px;
			font-family: $main-font;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 120%;
			color: #888888;
		}
	}

	&__search-btn{
		height: 100%;
		padding: 0 20px;
		background: #FFFFFF;
		border: 1px solid $border-color;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover{
			border-color: $main-color;
		}
	}

	&__right{
		@include d-flex(center, space-between, row, no-wrap);
	}

	&__button{
		width: 67px;
		height: 47px;
		@include d-flex(center,center, row, no-wrap);
		border: 1px solid $border-color;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.3s;
		background-color: #fff;
		&:not(:last-child){
			margin-right: 30px;
		}
		svg path{
			transition: all 0.3s;
		}

		&:hover{
			border-color: $main-color;
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 28, 16, 1);
			line-height: 130%;
			color: $main-color;
			transition: all 0.3s;
		}
	}
}

/* N A V B A R - E N D */

/* B A N N E R  - S T A R T */

.banner{
	position: relative;
	max-height: 400px;

	&__img{
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/* B A N N E R  - E N D */

/* P R O D U C T S - S T A R T */

.products{
	position: relative;
	height: auto;
	margin: 50px 0;

	&__title{
		margin-bottom: 50px;
		h1{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 48, 24,1);
			line-height: 135%;
			color: $black-color;
		}
	}

	&__row{
		@include d-flex(flex-start, space-between, row, wrap);
	}
}

.product{
	width: 24%;
	max-height: 500px;
	padding: 0px 25px 40px 25px;
	margin-bottom: 30px;
	border: 1px solid $border-color;
	border-radius: 5px;
	transition: all .3s;

	&:hover{
		border: 1px solid $main-color;

		.product__info{
			border-bottom: 1px solid $main-color;
		}
	}

	&__img{
		width: 70%;
		max-height: 250px;
		margin: 0 auto 15px auto;
		text-align: center;

		//img{
		//	width: 100%;
		//	height: 100%;
		//	object-fit: cover;
		//}
	}

	&__info{
		padding-bottom: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border-color;
		@include  d-flex(center, space-between, row, wrap);
		transition: all 0.3s;
	}

	&__rate{
		@include  d-flex(center, inherit, row, wrap);

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 130%;
			color: $main-color;
			margin-right: 5px;

		}
	}

	&__price{
		&-text{
			background: $main-color;
			border-radius: 1px;
			padding: 1px 5px;
			margin-right: 8px;
			font-family: $primary-font;
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			line-height: 12px;
			color: #FFFFFF;
		}

		&-num{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #050448;
		}
	}

	&__title{
		margin-bottom: 30px;
		h3{
			font-family: $primary-font;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 120%;
			color: $black-color;
		}
	}

	&__btns{
		text-align: center;
	}

	&__btn{
		width: 95%;
		margin: 0 auto;
		border: 2px solid $main-color;
		border-radius: 4px;
		padding: 15px 0;
		cursor: pointer;
		transition:all 0.3s;
		&:not(:last-child){
			margin-bottom: 10px;
		}

			&-add:hover{
				background-color: $main-color;
				.product__btn-text{
					color: #ffffff;
				}

				.product__btn-icon svg path{
					fill: #fff;
				}
			}

			&-order:hover{
				background-color: #FFFFFF;
				.product__btn-text{
					color: $main-color;
				}

				.product__btn-icon svg {
					fill: $main-color;
				}
			}


		&-text{
			margin-left: 10px;
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 120%;
		}

		&-add{
			background-color: #FFFFFF;
			.product__btn-text{
				color: $main-color;
			}
		}

		&-order{
			background-color: $main-color;
			.product__btn-text{
				color: #ffffff;
			}
		}
	}
}

/* P R O D U C T S - E N D */
