@import "./mixins/fonts";
@import "./mixins/normalize";
@import "./mixins/mixins";

// Variables start

$main-font:  'Quicksand', sans-serif;
$primary-font:  'Inter', sans-serif;
$main-color: #050448;
$border-color:  #EBEBEB;
$grey-color: #515151;
$black-color: #000;
$white-color: #fff;

// Variables end

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;

	@media all and (max-width: 1400px){
		max-width: 1200px;
	}
}

html{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: unset;
	scroll-behavior: smooth;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	font-family: $main-font;
	font-size: 14px;
	font-weight: normal;
	transition: all 0.3s;
	@include d-flex(unset, unset,column,unset);

	&.modal_active{
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.6);
			z-index: 10;
		}
	}
}

.pages{
	padding-top: 100px;
	flex: 1 1 100%;

	@media all and (max-width: 768px){
		padding-top: 80px;
	}
}

.scrollTop{
	position: fixed;
	bottom: 90px;
	left: 20px;
	width: 40px;
	height: 40px;
	background-color: $main-color;
	border-radius: 50%;
	@include d-flex(center, center, row, unset);
	transform: rotate(-90deg);
	-webkit-box-shadow: 1px 3px 23px 0px rgba(255, 255, 255, 0.36);
	-moz-box-shadow: 1px 3px 23px 0px rgba(255, 255, 255, 0.36);
	box-shadow: 1px 3px 23px 0px rgba(255, 255, 255, 0.36);
	z-index: 90;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;

	&.active{
		opacity: 1;
		visibility: visible;
	}
}

.wrap_eb88{
	bottom: 80px !important;
}

/* N A V B A R - S T A R T */

.navbar{
	position: relative;
	z-index: 10;


	&__top{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $white-color;
		box-shadow: 0 2px 3px 0 #0000000f;
		z-index: 10;
	}

	&__row{
		@include d-flex(center, space-between, row, unset);

		@media all and (max-width: 568px){
			flex-wrap: wrap;
		}
	}

	&__left{
		@include adaptive-value('height', 70, 45, 1);
		@include d-flex(center, flex-start, row, unset);

		@media all and (max-width: 568px){
			//flex: 1;
			//flex-direction: row-reverse;
			height: 55px;
		}
	}

	&__logo{
		@include adaptive-value('width', 70, 40, 1);
		@include adaptive-value('height', 70, 40, 1);
		@include adaptive-value('margin-right', 40, 20, 1);

		@media all and (max-width: 568px){
			//flex: 1;
			height: 100%;
			margin-right: 0 !important;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__catalog{
		background: $main-color;
		border: 1px solid transparent;
		border-radius: 6px;
		@include adaptive-value('padding-right', 20, 10, 1);
		@include adaptive-value('padding-left', 20, 10, 1);
		@include adaptive-value('padding-top', 10, 5, 1);
		@include adaptive-value('padding-bottom', 10, 5, 1);
		@include d-flex(center, flex-start, row, unset);
		cursor: pointer;

		@media all and (max-width: 568px){
			margin: 0 auto 0 0;
			display: none;
		}


		&-icon{
			@include adaptive-value('margin-right', 20, 10, 1);
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 20, 14, 1);
			line-height: 130%;
			color: $white-color;
		}
	}

	&__main{
		position: relative;
		flex: 1 1;
		@include adaptive-value('height', 70, 45, 1);
		@include d-flex(center, flex-start, row, unset);
		@include adaptive-value('padding-right', 30, 15, 1);
		@include adaptive-value('padding-left', 30, 15, 1);
		@include adaptive-value('padding-top', 20, 10, 1);
		@include adaptive-value('padding-bottom', 20,10, 1);
		@include adaptive-value('margin-right', 30, 15, 1);
		@include adaptive-value('margin-left', 30, 15, 1);
		border-right: 1px solid $border-color;
		border-left: 1px solid $border-color;

		@media all and (max-width: 568px){
			//order: 2;
			border: 1px solid $main-color;
			margin: 15px;
			border-radius: 6px;
		}


		.search__products{
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: auto;
			max-height: 400px;
			border: 1px solid $border-color;
			background-color: $white-color;
			overflow-y: auto;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;

			&.active{
				top: 100%;
				opacity: 1;
				visibility: visible;
			}

			&-item{
				@include d-flex(center, unset, row, unset);
				border-bottom: 1px solid $border-color;
				padding: 10px;
			}

			&-name{
				flex: 1 1 80%;
				font-family: $main-font;
				font-style: normal;
				font-weight: 500;
				@include adaptive-value('font-size', 18, 16, 1);
				line-height: 130%;
				color: $main-color;
				transition: all 0.3s;
			}

			&-img{
				width:20%;
				height: 100px;
				margin-right: 20px;

				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}

	&__input{
		flex: 1 1 90%;
		height: 100%;

		input{
			width: 100%;
			height: 100%;
			outline: none;
			padding: 0 5px;
			font-family: $main-font;
			font-style: normal;
			font-weight: normal;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 120%;
			color: #888888;

			&::placeholder{
				@media all and (max-width: 568px){
					color:  $main-color;
					font-weight: 500;
				}
			}
		}
	}

	&__search-btn{
		height: 100%;
		@include adaptive-value('padding-right', 20, 5, 1);
		@include adaptive-value('padding-left', 20, 5, 1);
		background: $white-color;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.3s;

		@media all and (max-width: 768px){
			border: none;
			outline: none;
		}

		&:hover{
			border-color: $main-color;
		}
	}

	&__right{
		@include d-flex(center, space-between, row, unset);


		@media all and (max-width: 568px){
			order: 1;
		}
	}

	&__button{
		@include adaptive-value('width', 70, 40, 1);
		@include adaptive-value('height', 50, 40, 1);
		@include d-flex(center,center, row, unset);
		border: 1px solid $border-color;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.3s;
		background-color: $white-color;
		&:not(:last-child){
			@include adaptive-value('margin-right', 30, 15, 1);
		}

		@media all and (max-width: 568px){
			margin-right: 0 !important;
		}

		svg path{
			transition: all 0.3s;
		}

		&-cart,
		&-prof{
			position: relative;
			@media all and (max-width: 768px){
				display: none;
			}
		}

		&:hover{
			border-color: $main-color;
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 28, 16, 1);
			line-height: 130%;
			color: $main-color;
			transition: all 0.3s;
		}

		&-cart-length{
			position: absolute;
			top: 0;
			right: 15px;
			width: 15px;
			height: 15px;
			text-align: center;
			background: $main-color;
			color: $white-color;
			border-radius: 50%;
			font-family: $main-font;
			font-size: 10px;
			font-weight: bold;
		}
	}
}

.navbarModal{
	position: fixed;
	@include adaptive-value('top', 70, 45, 1);
	width: 100%;
	height: 0;
	background-color: $white-color;
	opacity: 0;
	visibility: hidden;
	border-top: 1px solid $border-color;
	padding: 20px 0;
	z-index: 13;
	transition: all 0.3s;
	@media all and (max-width: 568px){
		top: unset;
		bottom: 80px !important;
		border-radius: 10px 10px 0 0;
	}

	&.active{
		height: auto;
		opacity: 1;
		visibility: visible;
		overflow: auto;

		@media all and (max-width: 768px){
			min-height: 400px;
		}
	}

	&__row{
		@include d-flex(flex-start, unset, row, unset);
		@media all and (max-width: 768px){
			flex-direction: column;
			display: none;
		}
	}

	&__mobile{
		display: none;
		@media all and (max-width: 768px){
			display: block;
		}

		.accordion__button{
			width: 100%;
			height: 60px;
			padding: 0 15px;
			margin-bottom: 10px;
			background: $border-color;
			border-radius: 10px;
			@include d-flex(center, center, row, unset);

			&_text{
				flex: 1;
				font-family: $main-font;
				font-style: normal;
				font-weight: normal;
				font-size:18px;
				line-height: 120%;
				color: $black-color;
			}
		}

		.panel__list{
			width: 100%;
			padding: 0 15px;

			&-item{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				font-size:16px;
				line-height: 120%;
				color: $black-color;
				margin-bottom: 10px;

				&-link{
					font-weight: 500;
					margin-bottom: 4px;

					.navbarModal__main-list__link{
						font-weight: normal;
					}
				}
			}
		}

	}

	&__sidebar{
		width: 20%;
		@media all and (max-width: 768px){
			width: 100%;
		}
	}

	&__nav{
		&-link{
			@include d-flex(center, unset, row, unset);
			padding: 8px;
			transition: all 0.3s;
			cursor: pointer;

			&.active{
				background-color:  #F3F4F5;
			}
		}

		&-link_text{
			flex:1 1 80%;
			font-family: $main-font;
			font-style: normal;
			font-weight: normal;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 120%;
			color: $black-color;
		}

		&-link_icon{
			width: 30px;
			height: 30px;

			img{
				width: 100%;
				height: 100%;
			}
		}

		&-link_icon:first-child{
			margin-right: 10px;
		}
	}

	&__main{
		width: 80%;
		padding-left: 30px;

		@media all and (max-width: 768px){
			width: 100%;
		}

		&-title{
			margin-bottom: 15px;
			h1{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 36, 18, 1);
				line-height: 135%;
				color: $main-color;
			}
		}

		&-list{
			@include d-flex(flex-start, unset, row, wrap);
			&__item{
				margin-bottom: 20px;
				width: 30%;

				.navbarModal__main-list{
					flex-direction: column;
					.navbarModal__main-list__item{
						margin-bottom: 2px;
						width: 100%;
					}
					.navbarModal__main-list__link{
						font-weight: normal;
					}
				}
			}

			&__link{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 18, 14, 1);
				line-height: 130%;
				color: $black-color;
				transition: all 0.3s;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.navbar__mobile{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: $white-color;
	border-top: 1px solid $border-color;
	display: none;
	user-select: none;

	@media all and (max-width: 768px){
		display: block;
	}

	&-list{
		@include d-flex(flex-start, space-between, row, unset);
	}

	a, button{
		@include d-flex(center, unset, column, unset);
		padding: 16px 0;
		user-select: none;
		background-color: transparent;
	}

	&-icon{
		margin-bottom: 5px;
	}

	&-cart{
		&-icon{
			position: relative;
		}

		&-length{
				position: absolute;
				top: -7px;
				right: -7px;
				width: 15px;
				height: 15px;
				text-align: center;
				background: $main-color;
				color: $white-color;
				border-radius: 50%;
				font-family: $main-font;
				font-size: 10px;
				font-weight: bold;
		}
	}

	&-text{
		font-family: $main-font;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		color: #767676;
		user-select: none;
	}
}

/* N A V B A R - E N D */

/* B A N N E R  - S T A R T */

.banner{
	position: relative;
	@include adaptive-value('height', 400, 150, 1);
	@include adaptive-value('margin-top', 30, 15, 1);
	@media all and (max-width: 768px){
		.container{
			padding: 0;
		}

		.banner__img{
			border-radius: 0;
			cursor: pointer;
			img{
				border-radius: 0;
				cursor: pointer;

			}
		}
	}


	&__img{
		width: 100%;
		@include adaptive-value('height', 400, 150, 1);
		border-radius: 15px;

		img{
			border-radius: 15px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/* B A N N E R  - E N D */

/* P R O D U C T S - S T A R T */

.products{
	position: relative;
	height: auto;
	@include adaptive-value('margin-top', 50, 25,1);
	@include adaptive-value('margin-bottom', 50, 25,1);

	&__title{
		@include adaptive-value('margin-bottom', 50, 25,1);

		h1{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 36, 24,1);
			line-height: 135%;
			color: $black-color;
			transition: all 0.3s ease;
			&:hover{
				color: $main-color;
			}
		}
	}

	&__row{
		@include d-flex(flex-start, unset, row, wrap);
	}
}

.swiper__products{
	.product{
		width: 100%;
	}

	.products__title{
		position: relative;
		padding-bottom: 20px;
		@include d-flex(center, space-between, row, unset);

		&::before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: #D8D8D8;
		}

		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 10%;
			height: 2px;
			background: $main-color;
		}

	}

	.swiper__arrows{
		@include d-flex(center, unset,row,unset);

		&-next{
			width: 24px;
			height: 24px;
			transform: rotate(180deg);
			cursor: pointer;

			&:hover{
				path{
					stroke: $black-color;
				}
			}
		}

		&-prev{
			width: 24px;
			height: 24px;
			cursor: pointer;
			&:hover{
				path{
					stroke: $black-color;
				}
			}

		}
	}
}

.product{
	width: 100%;
	height: 500px;
	padding: 15px;
	border: 1px solid $border-color;
	border-radius: 5px;
	transition: all .3s;

	&:not(:last-child){
		@include adaptive-value('margin-right', 15, 10, 1);
		@include adaptive-value('margin-bottom', 15, 10, 1);
	}

	@media all and (min-width: 1024px) {
		width: 23.1%;
		&:nth-child(n * 4){
			margin-right: 0;
		}
	}

	@media all and (min-width: 768px) and (max-width: 1024px) {
		width: 30%;
		&:nth-child(3){
			margin-right: 0;
		}
	}

	@media all and (max-width: 768px) {
		margin-right: 0 !important;
	}

	&:hover{
		border: 1px solid $main-color;

		.product__info{
			border-bottom: 1px solid $main-color;
		}
	}

	&__img{
		width: 100%;
		height: 280px;
		margin-bottom: 15px;

		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info{
		padding-bottom: 15px;
		margin: 20px 0;
		border-bottom: 1px solid $border-color;
		@include  d-flex(center, space-between, row, wrap);
		transition: all 0.3s;
	}

	&__rate{
		@include  d-flex(center, inherit, row, wrap);

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 130%;
			color: $main-color;
			margin-right: 5px;

		}
	}

	&__price{
		margin-bottom: 15px;
		&-text{
			background: $main-color;
			border-radius: 1px;
			padding: 1px 5px;
			margin-right: 8px;
			font-family: $primary-font;
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			line-height: 12px;
			color: $white-color;
		}

		&-num{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 130%;
			color: $black-color;
		}
	}

	&__title{
		width: 100%;
		margin-bottom: 15px;

		h3{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-family: $primary-font;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 120%;
			color: $black-color;
		}
	}

	&__btns{
		text-align: center;
	}

	&__btn{
		width: 95%;
		margin: 0 auto;
		border: 2px solid $main-color;
		border-radius: 4px;
		padding: 10px 0;
		cursor: pointer;
		transition:all 0.3s;
		&:not(:last-child){
			margin-bottom: 10px;
		}

			//&-add:hover{
			//	background-color: $black-color;
			//	.product__btn-text{
			//		color: $white-color;
			//	}
			//
			//	.product__btn-icon svg path{
			//		fill: $white-color;
			//	}
			//}
			//
			//&-order:hover{
			//	background-color: $black-color;
			//	.product__btn-text{
			//		color: $white-color;
			//	}
			//
			//	.product__btn-icon svg {
			//		fill: $main-color;
			//	}
			//}


		&-text{
			margin-left: 10px;
			font-family: $main-font;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 120%;
		}

		&-add{
			background-color: $white-color;
			.product__btn-text{
				color: $black-color;
			}
		}

		&-order{
			background-color: $main-color;
			.product__btn-text{
				color: $white-color;
			}
		}
	}
}

/* P R O D U C T S - E N D */

/*B R E N D S - S T A R T */

.brands{
	position: relative;
	height: auto;

	&__row{
		@include d-flex(flex-start, space-between, row, wrap);
	}

	.brand{
		//width: 21%;
		height: 185px;
		//border: 2px solid $border-color;
		border-radius: 5px;
		margin-bottom: 20px;
		@include d-flex(center, center, column, wrap);
		transition: all 0.3s;

		@media all and (max-width: 768px){
			//width: 30%;
			//height: 85px;
		}

		&:hover{
			border-color: $main-color;

			.brand__title{
				h3{
					color: $main-color;
				}
			}
		}

		&__img{
			width: 45%;
			height: 45%;
			margin-bottom: 20px;
			@media all and (max-width: 768px){
				margin-bottom: 0px;

				width: 60%;
				height: 60%;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&__title{
			@media all and (max-width: 768px){
				display: none;
			}
			h3{
				font-family: $primary-font;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				color: $black-color;
				transition: all 0.3s;
			}
		}
	}
}

/*B R E N D S - E N D */

/*S E R V  I C E - S T A R T */

.service{
	position: relative;
	height: auto;
	@include adaptive-value('margin-bottom', 50, 25, 1);


	&__row{
		@media all and (min-width: 768px){
			@include d-flex(flex-start, space-between, row, wrap);
		}
		border: 1px solid $border-color;
		border-radius: 11px;
		@include adaptive-value('padding-bottom', 80, 40, 1);
		@include adaptive-value('padding-top', 80, 40, 1);
		@include adaptive-value('padding-left', 40, 20, 1);
		@include adaptive-value('padding-right', 40, 20, 1);

		@media all and (max-width: 768px){
			padding-left: 0;
			padding-right: 0;
			border: none;
		}
	}

	&__block{
		width: 30%;
		@include d-flex(center, unset, row, unset);
		@media all and (max-width: 768px){
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 40px;
			justify-content: center;
		}
	}

	&__img{
		margin-right: 25px;
	}

	&__title{
		margin-bottom: 10px;
		font-family: $primary-font;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 120%;
		color: $main-color;
	}

	&__desc{
		font-family: $main-font;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 131.5%;
		color: #4D4D4D;
	}
}

/* S E R V I C E - E N D*/

/*F O O T E R - S T A R T*/

.footer{
	position: relative;
	height: auto;
	background-color: $main-color;
	padding-top: 20px;

	@media all and (max-width: 768px){
		margin-bottom: 80px;
	}

	&__row{
		@include d-flex(flex-start, space-between, row, wrap);
	}

	&__block{
		width: 30%;
		@media all and (max-width: 768px){
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__title{
		@include adaptive-value('margin-bottom', 40, 20, 1);
		h3{
			font-family: $primary-font;
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 135%;
			color: $white-color;
		}
	}

	&__links{
		@include d-flex(flex-start, unset, column, no-wrap);
	}

	&__link{
		font-family: $main-font;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 130%;
		color: $white-color;
		margin-bottom: 12px;
		transition: all 0.3s;

		&:hover{
			color: $border-color;
			text-decoration: underline;
		}
	}

	&__info{
		margin-bottom: 20px;
		svg{
			fill: $white-color;
		}

		&-text{
			margin-left: 10px;
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			color: $white-color;

		}
	}

	.social__links{
		width: 70%;
		@include d-flex(center, space-between, row, wrap);
	}

	.social__link{
		@include d-flex(center, unset, row, unset);

		&-text{
			margin-left: 10px;
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 125%;
			color: $white-color;
		}

		svg{
			path{
				fill: $white-color;
			}
		}
	}

	&__bottom{
		@include adaptive-value('margin-top', 60, 30, 1);
		@include adaptive-value('padding-top', 30, 15, 1);
		@include adaptive-value('padding-bottom', 30, 15, 1);
		background-color: $main-color;
		border-top: 1px solid $border-color;

		&-row{
			@include d-flex(center, space-between, row, wrap);
		}

		p, a{
			font-family: $primary-font;
			font-style: normal;
			font-weight: normal;
			@include adaptive-value('font-size', 18, 10, 1);
			line-height: 125%;
			color: $white-color;
			transition: all 0.3s;
		}

		p:not(:last-child){
			margin-bottom: 10px;
		}

		a:hover{
			color: $border-color;
			text-decoration: underline;
		}

	}

}

/*F O O T E R - E N D */

/* C A T E G O R Y P A G E- S T A R T*/

.categoryPage{
	position: relative;
	height: auto;
	@include adaptive-value('margin-bottom', 30, 20,1);


	&__row{
		@include d-flex(unset, space-between, row,unset);

		@media all and (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__pagination{
		width: 100%;
		@include d-flex(center, flex-end, row,unset);
	}

	&__title{
		@include adaptive-value('margin-top', 50, 25, 1);
		@include adaptive-value('margin-bottom', 50, 25, 1);
		@include d-flex(center, space-between, row,unset);


		h1{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 48, 24, 1);
			line-height: 130%;
			color: $black-color;
		}
	}

	&__btn{
		background: $main-color;
		border-radius: 3px;
		padding: 5px 10px;
		cursor: pointer;
		@include d-flex(center, unset, row,unset);

		@media all and (min-width: 768px) {
			display: none;
		}


		&-text{
			font-family: $primary-font;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 120%;
			color: $white-color;
			margin-right: 10px;
		}
	}



	&__sidebar{
		width: 21%;
		@include adaptive-value('padding', 20, 10,1);
		border: 1px solid $border-color;
		height: auto;
		//max-height: 500px;
		transition: all 0.3s;



		&.active{
			height: auto;
			opacity: 1;
			visibility: visible;
		}

		@media all and (max-width: 768px) {
			width: 100%;
			margin-bottom: 30px;
			height: 0;
			opacity: 0;
			visibility: hidden;
		}

		&-list__icon{
			margin-right: 6px;
		}

		&-list__text{
			font-family: $main-font;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 120%;
			color: $black-color;
		}

		&-list__item{
			margin-bottom: 10px;
			user-select: none;
			cursor: pointer;
		}

		&-title{
			margin-bottom: 10px;
			h3{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 18, 14, 1);
				line-height: 130%;
				color: $black-color;
			}
		}
	}

	&__products{
		width: 78%;

		@media all and (max-width: 768px) {
			width: 100%;
		}

		.container{
			padding: 0;
		}

		.products{
			margin: 0;

			&__title{
				display: none;
			}
		}


	}
}


.noProduct{
	height: 100%;
	@include d-flex(center, center, row, unset);
	h1{
		@include adaptive-value('font-size', 28, 16, 1);
	}
}

/* C A T E G O R Y P A G E - E N D*/

/* P A G I N A T I O N - S T A R T */

.pagination{
	@include d-flex(center, unset, row, unset);

	@media all and (max-width: 768px){
		margin-top: 20px;
	}

	&__item{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #e8e8e8;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		cursor: pointer;
	}

	&__link{
		font-family: $main-font;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 130%;
		color: $main-color;
	}
}

/* P A G I N A T I O N - E N D*/

/* P R O D U C T S P A G E - S T A R T*/

.productPage{
	position: relative;
	height: auto;

	&__product{
		@include adaptive-value('margin-top', 50, 25, 1);

		&-name{
			@include adaptive-value('margin-bottom', 50, 25, 1);

			h1{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 36, 18, 1);
				line-height: 130%;
				color: $main-color;
			}
		}

		&-row{
			@include d-flex(flex-start, unset, row, wrap);

			@media all and (max-width: 768px){
				flex-direction: column;
			}
		}


		&-img{
			width: 41%;
			height: auto;
			@include adaptive-value('margin-right', 100, 50, 1);
			border: 1px solid $border-color;

			@media all and (max-width: 768px){
				width: 100%;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&-content{
			width: 22%;

			@media all and (max-width: 768px){
				width: 100%;
			}
		}

		&-price{
			margin-bottom: 10px;
			h3{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 36, 18, 1);
				line-height: 130%;
				color: $main-color;
			}
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 120%;
			color: $black-color;
		}

		&-images{
			@include d-flex(flex-start, unset, row, wrap);
			margin-bottom: 30px;
		}

		&-imgWrap{
			width: 64px;
			height: 64px;
			cursor: pointer;

			&:not(:last-child){
				margin-right: 10px;
			}

			&.active{
				border: 1px solid $main-color;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&-info{
			@include adaptive-value('margin-top', 40, 20, 1);
			@include adaptive-value('margin-bottom', 40, 20, 1);
			@include adaptive-value('padding', 40, 20, 1);
			border: 2px solid $border-color;
			border-radius: 5px;
		}

		&-info-title{
			@include adaptive-value('margin-bottom', 40, 20, 1);

			h3{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 36, 18, 1);
				line-height: 130%;
				color: $black-color;
			}
		}

		&-info-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 24, 16, 1);
			line-height: 125%;
			color: $black-color;
			@include adaptive-value('margin-bottom', 15, 10, 1);

			.text_two{
				font-weight: bold;
			}
		}

		&-block{
			@include d-flex(center, unset, row, unset);
			margin-bottom: 20px;

			&-store{
				@include d-flex(center, unset, row, unset);
				.store__btn{
					border: 1px solid $border-color;
					padding: 5px;
					background: transparent;
					font-family: $primary-font;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 120%;
					color: $black-color;
					margin-left: 10px;
					cursor: pointer;

					&.active{
						border: 1px solid $main-color;
					}
				}
			}

			&-counter{
				@include d-flex(center, unset, row, unset);
				margin-left: 20px;
				.counter__btn{
					width: 30px;
					height: 30px;
					@include d-flex(center, center, row,unset);
					border-radius: 50%;
					background-color: $border-color;
					font-family: $primary-font;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 130%;
					color: $black-color;
					cursor: pointer;
				}

				.counter__text{
					margin: 0 20px;
					font-family: $main-font;
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 130%;
					color: $black-color;
				}
			}
		}

	}
}

/* P R O D U C T S P A G E - E N D */


/* C A R T - S T A R T */

.cart{
	position: relative;
	height: auto;
	@include adaptive-value('margin-top', 30, 20, 1);
	@include adaptive-value('margin-bottom', 30, 20, 1);

	&__title{
		margin-bottom: 30px;
		h1{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 36, 18, 1);
			line-height: 120%;
			color: $black-color;
		}
	}

	&__empty{
		width: 100%;
		height: 50vh;
		position: relative;
		@include d-flex(center, center, row, unset);

		&-content{
			text-align: center;
		}

		&-title{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 36, 18, 1);
			line-height: 120%;
			color: $black-color;
			margin-bottom: 25px;
		}

		&-btn{
			width: 100%;
			background: $main-color;
			border-radius: 10px;
			padding: 14px;
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 120%;
			color: $white-color;
			cursor: pointer;
		}
	}

	&__row{
		@include d-flex(flex-start, space-between, row, wrap);

		@media all and (max-width: 768px){
			flex-direction: column;
		}

	}

	&__items{
		width: 70%;

		@media all and (max-width: 768px){
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&__sidebar{
		width: 28%;

		@media all and (max-width: 768px){
			width: 100%;
		}
	}

	&__item{
		@include d-flex(flex-start, unset, row,unset);
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;

		@media all and (max-width: 568px){
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&:last-child{
			border-bottom: none;
			padding-bottom: 0;
		}

		&-img{
			width: 100px;
			height: 100px;
			margin-right: 30px;
			@media all and (max-width: 568px){
				margin-bottom: 30px;
			}

			img{
				width: 100%;
				height: 100%;
			}
		}

		&-content{
			flex: 1 1 70%;
			display: flex;
			flex-direction: column;
			@media all and (max-width: 568px){
				order: 2;
			}
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 120%;
			color: $black-color;
			margin-bottom: 20px;
		}

		&-link{
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 120%;
			color: #6366F1;
			cursor: pointer;
			background-color: transparent;

			&:not(:last-child){
				margin-right: 30px;
			}
		}

		&-block{
			@media all and (max-width: 568px){
				order: 1;
			}
		}

		&-count{
			border: 1px solid $main-color;
			border-radius: 5px;
			height: 30px;
			display: flex;

			button{
				width: 33%;
				background-color: transparent;
				cursor: pointer;
				font-size: 20px;
			}

			span{
				width: 33%;
				@include d-flex(center, center, row,unset);
				border-left: 1px solid $main-color;
				border-right: 1px solid $main-color;
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 120%;
				color: $black-color;
			}
		}
	}

	&__sidebar{
		border: 1px solid #C4C4C4;
		border-radius: 20px;
		padding: 25px;

		&-item{
			width: 100%;
			@include d-flex(center, space-between, row, unset);
			margin-bottom: 15px;
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 120%;
			color: $black-color;
		}

		&-btn{
			width: 100%;
			padding: 10px 0;
			background: $main-color;
			border-radius: 5px;
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 120%;
			color: $white-color;
			cursor: pointer;

		}
	}
}

/* C A R T - E N D */

/* P R O F I L E - S T A R T*/

.profile{
	position: relative;
	height: auto;
	@include adaptive-value('padding-top', 50, 25, 1);
	@include adaptive-value('padding-bottom', 50, 25, 1);

	&__row{
		@include d-flex(flex-start, space-between, row, wrap);

		@media all and (max-width: 768px){
			flex-direction: column;
		}
	}

	&__col{
		width: 48%;

		@media all and (max-width: 768px){
			width: 100%;
		}
	}

	&__head{
		@include d-flex(center, unset, row, unset);
		@include adaptive-value('margin-bottom', 40, 20, 1);
		@include adaptive-value('padding-bottom', 25, 15, 1);
		border-bottom: 2px solid #e9e9e9;
	}

	&__info{
		&-name{
			margin-bottom: 10px;
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 36, 18, 1);
			line-height: 130%;
			color: $black-color;
		}

		&-num{
			font-family: $main-font;
			font-style: normal;
			font-weight: normal;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 130%;
			color: $black-color;

		}
	}

	&__img{
		width: 150px;
		height: 150px;
		margin-right: 20px;
		border-radius: 50%;


		img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	&__nav{
		@media all and (max-width: 768px){
			@include d-flex(center, space-between ,row, unset);
		}
		&-btn{
			display: block;
			background-color: transparent;
			font-family: $main-font;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value('font-size', 24, 16, 1);
			line-height: 125%;
			color: $black-color;
			border: 1px solid transparent;
			cursor: pointer;

			&:not(:last-child){
				margin-bottom: 25px;
			}

			@media all and (max-width: 768px){
				margin-bottom: 25px;
				border: 1px solid $main-color;
				padding: 10px 15px;
				border-radius: 6px;

			}

			&.active{
				font-weight: bold;

				@media all and (max-width: 768px){
					background-color: $main-color;
					color: $white-color;
					font-weight: normal;
				}
			}
		}
	}

	&__form{
		padding: 50px 30px 30px 30px;
		border: 1px solid #e9e9e9;

		&-title{
			@include adaptive-value('margin-bottom', 40, 20, 1);
			h1{
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 36, 18, 1);
				line-height: 130%;
				color: $black-color;
			}
		}

		form{
			@include d-flex(unset, space-between, row, wrap);

			.w-100{
				width: 100% !important;
			}

			.form__group{
				width: 49%;
				margin-bottom: 25px;

				@media all and (max-width: 768px){
					width: 100%;
				}

				&-text{
					font-family: $main-font;
					font-style: normal;
					font-weight: 500;
					@include adaptive-value('font-size', 24, 16, 1);
					line-height: 125%;
					color: $black-color;
					margin-bottom: 10px;
				}



				input{
					width: 100%;
					border: 1px solid $black-color;
					border-radius: 10px;
					padding: 14px 20px;
					font-family: $main-font;
					font-style: normal;
					font-weight: normal;
					@include adaptive-value('font-size', 18, 14, 1);
					line-height: 120%;
					color: $black-color;
					outline: none;
				}
			}

			.form__btn{
				width: 34%;
				background: $main-color;
				border-radius: 10px;
				padding: 14px 0;
				font-family: $main-font;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value('font-size', 18, 14, 1);
				line-height: 120%;
				color: $white-color;
				cursor: pointer;

				&-wrap{
					width: 100%;
				}
			}
		}
	}

	&__orders{
		padding: 20px;
		border: 1px solid #E9E9E9;
		border-radius: 5px;
	}

	&__order{
		@include d-flex(center, unset, row, wrap);

		&-img{
			width: 90px;
			height: 90px;
			margin-right: 30px;
			img{
				width: 100%;
				height: 100%;
			}
		}

		&-content{
			flex: 1;
		}

		&-title{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 130%;
			color: $black-color;
			margin-bottom: 10px;
		}

		&-text{
			font-family: $main-font;
			font-style: normal;
			font-weight: normal;
			@include adaptive-value('font-size', 14, 12, 1);
			line-height: 130%;
			color: $black-color;
			margin-bottom: 10px;
		}

		&-btn{
			display: block;
			padding: 10px;
			margin: 0 0 0 auto;
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 14, 12, 1);
			line-height: 120%;
			color: $white-color;
			background-color: $main-color;
			cursor: pointer;
			outline: none;
		}
	}
}

/* P R O F I L E  - E N D*/


/* F U L L P A G E S P I N N E R - S T A R T */

.loader-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(17px);
	z-index: 1000;
}
.loading-content{
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.loader-item{
	width: 20px;
	height: 20px;
	background: #050448;
	border-radius: 50px;
	transform: scale(0);
	transition: all .5s linear;
	animation: loading-spin .8s infinite both;
}
.loader-item:nth-child(1){
	animation-delay: .2s;
}
.loader-item:nth-child(2){
	animation-delay: .3s;
}
.loader-item:nth-child(3){
	animation-delay: .4s;
}
.loader-item:nth-child(4){
	animation-delay: .5s;
}
@keyframes loading-spin{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
}

/* F U L L P A G E S P I N N E R - E N D */


/* L O G I N M O D A L - S T A R T*/

.loginModal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(17px);
	@include d-flex(center, center, row, unset);
	z-index: 1000;

	&__panel{
		padding: 40px 45px;
		background-color: $white-color;
	}

	&__title{
		margin-bottom: 20px;
		text-align: center;
		h1{
			font-family: $main-font;
			font-style: normal;
			font-weight: 300;
			@include  adaptive-value('font-size', 48, 24, 1);
			line-height: 130%;
			color: $black-color;
		}
	}

	form{
		.form__group{
			width: 100%;
			margin-bottom: 25px;

			&-text{
				font-family: $main-font;
				font-style: normal;
				font-weight: 500;
				@include adaptive-value('font-size', 24, 16, 1);
				line-height: 125%;
				color: $black-color;
				margin-bottom: 10px;
			}

			input{
				width: 100%;
				border: 1px solid $black-color;
				border-radius: 10px;
				padding: 14px 20px;
				font-family: $main-font;
				font-style: normal;
				font-weight: normal;
				@include adaptive-value('font-size', 18, 14, 1);
				line-height: 120%;
				color: $black-color;
				outline: none;

			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}


		}
	}

	.small{
		h1{
			@include  adaptive-value('font-size', 24, 16, 1);
		}
	}

	&__btns{
		@include d-flex(center, space-between, row, unset);

		button{
			&:not(:last-child){
				margin-right: 20px;
			}
		}
	}

	.form__group-btn{
		margin-top: 20px;
		width: 100%;
		background: $main-color;
		border-radius: 10px;
		padding: 14px 0;
		font-family: $main-font;
		font-style: normal;
		font-weight: bold;
		@include adaptive-value('font-size', 18, 14, 1);
		line-height: 120%;
		color: $white-color;
		cursor: pointer;

		&-wrap{
			width: 100%;
		}
	}
}


/* L O G I N M O D A L - E N D*/


/* P A G E - S T A R T*/

.page{
	position: relative;
	height: auto;

	&__title{
		margin-bottom: 30px;
		h1{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 36, 18, 1);
			line-height: 135%;
			color: $black-color;
			transition: all 0.3s ease;
		}
	}

	&__content{
		p{
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			@include adaptive-value('font-size', 18, 14, 1);
			line-height: 135%;
			color: $black-color;
			transition: all 0.3s ease;
		}
	}
}

/* P A G E - E N D*/